###########################################################################
# 
#  Copyright 2019 Google Inc.
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
#
###########################################################################
#google-cloud-core
#google-cloud-bigquery
#google-cloud-storage
#google-cloud-pubsub
#google-auth
#google-auth-httplib2
google-api-python-client
oauth2client
httplib2
jsonpickle
django==1.11
pysftp
pytz
tzlocal
TwitterAPI
python-dateutil
pandas
psutil
moviepy
py-xlsx
simple-salesforce